* {
    margin: 0; 
    padding: 0;
}

.dogsChangelog {
    font-family: Comfortaa, sans-serif;
    padding: 0.25em;
}

.dogsChangelog ul {
    padding-left: 1em;
}

.dogsChangelog ul li {
    padding: 0.5em 0;
}

.adaptive-font-size {
    font-size: clamp(10px, 2vw, 20px);
}


